
<form action="/random/results">

<div>
<label for="input1">Minimum</label>
<input id="input1" type="text" placeholder="E.g. 1.5" name="minimum">
</div>

<div>
<label for="input2">Maximum</label>
<input id="input2" type="text" placeholder="E.g. 4.5" name="maximum">
</div>

<div>
<button>Pick random number</button>
</div>

</form>
