<form action="/square_root/results">

<label for="input">Enter a number </label>
<input id="input" type="text" placeholder="What do you want to square root?" name="number">

<button>Calculate square root</button>

</form>
