<h1>Enter a number</h1>

<form action="/square/results">
  <label for="giraffe">Enter a number</label>
  <input id="giraffe" type="text" placeholder="What number do you want to square?" name="number">

  <button>Calculate Square</button>

</form>

<a href="https://www.wikipedia.org" target="blank"> Go to wikipedia</a>
